<div data-ng-repeat="f in facetsConfig track by f['title']">
  <facets-free-text data-ng-if="f['facet-type'] === 'free-text'"
                  data-title="{{ f['title'] | facetTitlefy }}"
                  placeholder="{{ f['name'] | facetTitlefy }}"
                  data-field="{{f['name']}}"
                  data-entity="{{doctype}}"
                  data-removable="f['removable']"
                  data-remove-function="removeFacet(f['name'])"
                  data-template="components/facets/templates/typeahead-{{doctype}}.html"
                  class="facet"></facets-free-text>

  <facets-free-text data-ng-if="f['facet-type'] === 'id'"
                  data-title="{{ f['title'] | facetTitlefy }}"
                  placeholder="{{ f['name'] | humanify }}"
                  data-field="{{f['name']}}"
                  data-entity="{{doctype}}"
                  data-removable="f['removable']"
                  data-autocomplete="{{false}}"
                  data-remove-function="removeFacet(f['name'])"
                  class="facet"></facets-free-text>

  <facets-prefix data-ng-if="f['facet-type'] === 'prefix'"
                 data-title="{{ f['title'] | facetTitlefy }}"
                 placeholder="{{ f['name'] | facetTitlefy }}"
                 data-field="{{f['name']}}"
                 data-entity="{{doctype}}"
                 data-template="components/facets/templates/typeahead-prefix.html"
                 class="facet"></facets-prefix>

  <terms data-ng-if="f['facet-type'] === 'terms'"
         data-name="{{f['name']}}"
         data-title="{{f['title'] | facetTitlefy }}"
         data-facet="aggregations[f['name']]"
         data-collapsed="f['collapsed']"
         data-removable="f['removable']"
         data-show-tooltip="{{ f.showTooltip }}"
         data-remove-function="removeFacet(f['name'])"
         data-sort="{{ f['sort'] }}"
         class="facet"></terms>

  <range-facet data-ng-if="f['facet-type'] === 'range'"
               data-field="{{f['name']}}"
               data-title="{{ f['title'] | facetTitlefy }}"
               data-facet="aggregations[f['name']]"
               data-remove-function="removeFacet(f['name'])"
               data-removable="f['removable']"
               data-collapsed="f['collapsed']"
               data-convert-days="{{ f.convertDays }}"
              class="facet"></range-facet>

  <date-facet data-ng-if="f['facet-type'] === 'datetime'"
              data-name="{{f['name']}}"
              data-title="{{ f['title'] | replace:'datetime':'' | facetTitlefy }}"
              data-facet="aggregations[f['name']]"
              data-remove-function="removeFacet(f['name'])"
              data-removable="f['removable']"
              data-collapsed="f['collapsed']"
              class="facet"></date-facet>
</div>
