.entity {
  @ENTITY_HEADER_HEIGHT: 83px;
  p.no-results {
    padding: 5px 15px;
    margin: 0;
  }

  .entity-identifier {
    font-size: 25px;
    border: 1px solid black;
    border-radius: 2px;
    padding: 5px;
  }

  .hide-overflow {
    overflow: hidden;
  }

  .entity-body {
//    padding: 0 15px;
//    border-top: 1px solid @lightgrey;
//    border-left: 1px solid @lightgrey;

    &.scroll-fix-margin {
      margin-top: @ENTITY_HEADER_HEIGHT;
    }
  }

  h1 {
    margin-top: 7px;
    line-height: 1.8;
    width: 100%;
    padding-left: 15px;

    .h-actions {
      margin-right: 16px;

      .dropdown-menu {
        right: 0;
        left: inherit;
      }
    }

    &.ui-scroll-fix {
      margin: 0 -20px;
      padding: 10px 35px;
      top: 0;
      width: 100%;
      background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
    }


  }

  aside {
    min-width: 160px;
    a {
      -webkit-transition: color 0.2s ease;
      -moz-transition: color 0.2s ease;
      transition: color 0.2s ease;
      text-decoration: none;
      color: black;
      font-size: 1.5rem;

      &:hover {
        color: #507EA5;
      }
    }

    &.ui-scroll-fix {
      margin-top: 7px;
    }

    > div.current > a {
      color: #2A6496;
    }
  }

  .biospecimen-tree-action-bar {
    margin-bottom: 1rem;
  }
}

@media (max-width: 992px) {
  .entity h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}

@ENTITY_MENU_WIDTH: 175px;

.entity {
  display: flex;

  .panel {
    border: none;
  }

  .table td, .table th {
    padding: 5px;
  }

  .table {
    margin: 0;
    border: none;
  }

  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: none;
    border-bottom: 3px solid #2A8DC7;
  }

  .entity-menu {
    position: fixed;
    padding-top: 13rem;
    top: 0;
    width: @ENTITY_MENU_WIDTH;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 1.4rem;
    background-color: #0d95a1;
    height: 100vh;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

    a {
      text-decoration: none;
      color: white;
      width: 100%;
      padding: 0.7rem 2rem;

      span {
        margin-right: 10px;
      }

      &:hover {
        background-color: #0e8e99;
      }
      // border-bottom: 1px solid #649cc3;
    }

    a:first-child {
      // border-top: 1px solid #649cc3;
    }

  }

  .entity-content-container {
    padding-left: @ENTITY_MENU_WIDTH;
    width: calc(~"100% - " @ENTITY_MENU_WIDTH);
    padding-right: 2rem;
  }

  .entity-content-header {
    position: fixed;
    padding-left: @ENTITY_MENU_WIDTH + 40px;
    left: 0px;
    width: 100%;
    background-color: white;
    z-index: 70;
    top: 57px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  }

  .entity-content {
    padding-top: 80px;
    padding-left: 40px;
  }
}
