<div class="container-fluid cart full-page">
  <section class="row">
    <div class="col-lg-8" data-ng-if="!cc.files.hits.length">
      <h2  data-ng-if="!cc.CartService.getFileIds().length">Your Cart is empty.</h2>
      <h2  data-ng-if="cc.CartService.getFileIds().length">
        <i class="fa fa-spinner fa-spin"></i>
        Your Cart is loading.
      </h2>
    </div>
    <div data-ng-if="cc.files.hits.length">
      <div class="col-lg-3 col-sm-6">
        <count-card title="Files" icon="fa-file-o" data="cc.files.pagination.total | number"></count-card>
        <count-card title="Samples" icon="fa-user-o" data="cc.files.pagination.sample_total | number"></count-card>
        <count-card title="File Volume" icon="fa-folder-open-o" data="cc.summary.fs.value | size"></count-card>
      </div>
      <div ng-repeat="chart in cc.summary.charts" class="col-lg-3 col-sm-6">
        <summary-card data-data="chart['buckets']"
                      data-results-status="chart['results-status']"
                      height="177"
                      data-mode="graph"
                      data-show-cases="true"
                      data-grouping-title="{{chart['piechart-config']['grouping-title']}}"
                      data-config="chart['piechart-config']"
                      data-title="{{chart['piechart-config']['chart-title']}}"></summary-card>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title" >How to download files in my Cart?</h4>
          </div>
          <div style="padding: 10px">
            <p >
              <strong>Download Manifest</strong>: {{cc.cartConfig['download-manifest-text']}} <span ng-if="cc.cartConfig['download-utility-link']">For more info on how to use the download utility, click
              <a target="_blank" href="{{cc.cartConfig['download-utility-link']}}">here</a>.</span> For more info on how to use the client, click
              <a target="_blank" href="{{cc.cartConfig['download-client-link']}}">here</a>.
            </p>
            <p ng-if="cc.cartConfig['download-cart-text']">
              <strong>Download Cart</strong>: {{cc.cartConfig['download-cart-text']}}
            </p>
          </div>
        </div>
        <div class="panel panel-default" data-ng-if="cc.UserService.currentUser">
          <div class="panel-heading">
            <h4 class="panel-title" >Notes</h4>
          </div>
          <div style="padding: 10px">
            <p >
              <strong>Metadata</strong>: {{cc.cartConfig['notes-metadata-text']}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="row items-pane" data-ng-if="cc.files.hits.length">
    <div class="col-md-12 col-lg-12 col-sm-12">
      <div class="pull-right">
          <!-- <split-control data-control-label-text="Download" data-no-split="true" data-icon-classes="fa fa-download"> -->
          <split-control data-control-label-text="{{cc.cartConfig['download-button-text']}}" data-no-split="true" data-icon-classes="{{cc.cartConfig['download-button-icon']}}">

              <split-control-option data-ng-if="cc.cartConfig['enable-download-cart-btn']" data-option-label-text="Download Files in Cart">
                <button data-download-button-all-cart data-downloader zid="download-cart-button">
                  <i class="fa" ng-class="{'fa-download': !active, 'fa-spinner fa-pulse': active}"></i>
                  <span>Files in Cart</span>
                </button>
              </split-control-option>
              
              <split-control-option data-option-label-text="Download Manifest File">
                <button data-download-manifest-cart data-downloader id="manifest-button">
                  <i class="fa" ng-class="{'fa-download': !active, 'fa-spinner fa-pulse': active}"></i>
                  <span>File Manifest</span>
                </button>
              </split-control-option>

              <split-control-option data-option-label-text="Download Metadata">
                <download-metadata-button
                  data-text-normal="Sample Metadata"
                  data-filename="metadata.cart"
                  data-text-in-progress="Processing"
                  data-style-class="true">
                </download-metadata-button>
              </split-control-option>

              <split-control-option data-ng-if="cc.cartConfig['enable-export-to-terra-btn']" data-option-label-text="Export to Terra">
                <button data-export-to-terra id="terra-button">
                  <img width="16px" src="/images/terra.png"/>
                  <span>Export to Terra</span>
                </button>
              </split-control-option>

          </split-control>

          <split-control data-control-label-text="Remove From Cart"
            data-btn-type="danger"
            data-no-split="true" data-icon-classes="fa fa-trash-o">
            <split-control-option data-option-label-text="Remove All Files">
              <span>
                <button
                   tabindex="0"
                    id="clear-button"
                    data-ng-click="cc.removeAll()">
                  <i class="fa fa-remove"></i>
                  <span>All Files ({{cc.CartService.getFiles().length}})</span>
                </button>
              </span>
            </split-control-option>
            <split-control-option data-option-label-text="Remove Unauthorized Files">
              <remove-unauthorized-files-button data-ng-if="cc.CartService.getUnauthorizedFiles().length"></remove-unauthorized-files-button>
            </split-control-option>
          </split-control>
        </div>
    </div>
  </section>

  <gdc-table data-ng-if="cc.files.hits.length"
           data-data="cc.files.hits"
           data-config="cc.cartTableConfig"
           data-paging="cc.files.pagination"
           data-page="files"
           data-heading="Cart Items"
           id="cart-table"
           class="cart-table">
  </gdc-table>

</div>
