<div class="modal-header">
  <h4 data-translate>Saved Query History</h4>
</div>
<div class="modal-body">
  <div data-ng-if="wc.queries.length > 0" class="long-scrollable-table">
    <div class="long-scrollable-table-container">
      <table
        class="table table-striped table-hover table-condensed table-bordered"
        style="margin-bottom: 0;"
      >
        <thead>
          <tr>
            <th class="sticky" scope="col" data-translate>
              Query
              <div>Query</div>
            </th>
            <th class="sticky" scope="col" data-translate>
              Sample Count
              <div>Sample Count</div>
            </th>
            <th class="sticky" scope="col" data-translate>
              File Count
              <div>File Count</div>
            </th>
          </tr>
          <tbody>
            <tr data-ng-repeat="x in wc.queries">
              <td class="id-cell">
                <a 
                  href="#"
                  data-ng-click="$event.preventDefault();wc.redoHistory(wc.hrefs[$index])"
                >
                  {{x}}
                </a>
              </td>
              <td class="text-right">
                {{wc.scounts[$index]}}
              </td>
              <td class="text-right">
                {{wc.fcounts[$index]}}
              </td>
            </tr>
          </tbody>
        </thead>
      </table>
    </div>
  </div>
  <div data-ng-if="wc.queries.length < 1">
  <p>
    No saved queries found. If you recently saved queries and have no results here, try <a href="javascript:window.location.reload(true)">refresh</a>. 
  </p>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" data-ng-click="wc.acceptWarning()" data-translate>Continue Querying</button>
</div>
