<div class="container-fluid full-page projects">
  <div class="content" ng-class="{ expanded: prsc.facetsCollapsed }">
    <ul class="nav nav-tabs" data-ng-if="prsc.projects.hits.length">
      <li role="presentation"
          data-ng-class="{ active: prsc.ProjectsState.tabs.table.active }"
          data-ng-click="prsc.select('tabs', 'table')"
          id="projects-table">
          <a
            data-ng-href="{{
            prsc.$state.href('projects.table', prsc.LocationService.search().filters
            )}}">
            {{ 'Table' }}
          </a>
      </li>
      <li ng-show="prsc['projectsConfig']['display-graph-tab']" role="presentation"
          data-ng-class="{ active: prsc.ProjectsState.tabs.graph.active }"
          data-ng-click="prsc.select('tabs', 'graph')"
          id="projects-graph">
          <a
            data-ng-href="{{
            prsc.$state.href('projects.graph', prsc.LocationService.search().filters
            )}}">
            {{ 'Charts' }}
          </a>
      </li>

    </ul>
    <div class="pane-section" data-ng-show="prsc.ProjectsState.tabs.table.active">
      <gdc-table data-data="prsc.projects.hits"
                  data-config="tableConfig"
                  data-heading="Studies ({{prsc.projects.pagination.total}})"
                  data-id="project-table"
                  data-endpoint="projects"
                  data-paging="prsc.projects.pagination"
                  data-sort-columns="true"
                  data-page="projects"
                  data-ng-if="prsc.projects.hits.length">
      </gdc-table>
    </div>
    <!-- NOTE: 'ng-if' is used here intentionally. Otherwise the width of the
          container will not be the expected size for the graph.
      -->
    <div class="pane-section" data-ng-if="prsc.ProjectsState.tabs.graph.active">
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <h3 class="panel-title">Available Samples per Data Category ({{ prsc.projects.pagination.total }})</h3>
        </div>
        <div class="flex-visible-lg summary-cards" style="padding: 20px 20px 0px 20px;">
          <div class="flex-column" style="flex:auto;" ng-repeat="chart in prsc.projects.charts track by $index">
            <summary-card data-data="prsc.projects['hits']"
            data-results-status="chart['results-status']" height="325" data-mode="graph"            
            data-config="chart['piechart-config']"
            data-grouping-title="{{chart['piechart-config']['grouping-title']}}"
            data-title="{{chart['piechart-config']['chart-title']}}" data-show-cases="true">
          </summary-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
