<div>
  <!-- ng-table-dynamic initializes its native scope here. -->
  <table id="{{ tc.page + '-table'}}"
    ng-table-dynamic="tc.tableParams with tc.headings" 
    template-header="importTableiciousCustomHeader.html"
    data-data="tc.data" 
    data-paging="tc.paging"
    data-page="tc.page"
    class="table table-striped table-hover table-condensed table-bordered sortable">
    <tr ng-repeat="d in $data track by d[tc.rowId]">
      <!-- row specific values are passed here -->
      <td ng-repeat="h in tc.headings" 
      data-cell="tc.getCell(h,d)"
      data-row="d"
      data-ng-class="h.tdClassName"
      uib-tooltip="{{tc.getTooltipText(h,d)}}"
      tooltip-enable="{{h.tooltipText ? true : false}}"
      tooltip-append-to-body="true"
      tooltip-popup-delay="500"
      tooltip-class="keep-on-screen"></td>
    </tr>
  </table>
  <!-- The following <script> block overrides the native <ng-table-sorter-row> directive. -->
  <!-- Used this as guide: http://esvit.github.io/ng-table/#/formatting/demo-custom-header -->
  <script type="text/ng-template" id="importTableiciousCustomHeader.html">
    <!-- heading specific values and data needed to sorting are passed here -->
    <tableicious-custom-header 
      data-table-params="tc.tableParams" 
      data-headings="tc.headings"
      data-paging="tc.paging"
      data-page="tc.page"
      data-data="tc.data"
    ></tableicious-custom-header>
  </script>
</div>