<div class="modal-header">
  <h4 >BAM Slicing Failed</h4>
</div>
<div class="modal-body text-danger">
  <span data-ng-if="bamfc.errorStatus === 400">
    <p >
      {{ bamfc.msg400 }}
    </p>
  </span>
  <span data-ng-if="bamfc.errorStatus !== 400">
    <h5>{{bamfc.errorStatus}}: {{ bamfc.errorStatusText }}</h5>
    <p >
      {{ bamfc.errorBlobString }}
    </p>
  </span>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" data-ng-click="bamfc.$uibModalInstance.close()" >OK</button>
</div>
