<header id="gdc-header" class="navbar navbar-default navbar-static-top"
  data-ng-class="{ blue: hc.bannerDismissed }"
  role="banner">
    <div class="header-banner" data-ng-class="{ dismissed: hc.bannerDismissed }">
      <span class="fa-stack">
        <i class="fa fa-circle-o fa-stack-2x"></i>
        <i class="fa fa-question fa-stack-1x"></i>
      </span>
      <strong>Can't find your data?</strong>
      <span class="header-banner-link" data-ng-click="hc.showBannerModal()">
        Click here for more information.
      </span>
      <span class="header-banner-dismiss" data-ng-click="hc.dismissBanner()">
        Dismiss <span class="fa fa-close" aria-hidden="true"></span>
      </span>
    </div>
  </div>
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-ng-click="hc.toggleCollapsed()">
        <span class="sr-only" >Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a id="gdc-logo" class="navbar-brand" data-ng-if="!hc.config['navbar']['logo-link']" data-ui-sref="home"  tabindex="0">GDC Data Portal</a>
      <a id="gdc-logo" class="navbar-brand" data-ng-if="hc.config['navbar']['logo-link']" href="{{hc.config['navbar']['logo-link']}}" tabindex="0">GDC Data Portal</a>
    </div>
    <nav class="navbar-collapse collapse navbar-responsive-collapse" data-uib-collapse="hc.isCollapsed"
         role="navigation" data-ng-click="hc.collapse($event)"
         tabindex="-1"
         data-ng-keypress="hc.collapse($event)"
         aria-label="{{ 'Site Navigation' }}">
      <ul class="nav navbar-nav">
        <li data-ng-class="{ active: hc.$state.includes('home') }"
            id="header-projects"> 
          <a ui-sref="home" tabindex="0">
            <i class="fa fa-home"></i>
            <span class="hidden-sm" >Home</span>
          </a>
        </li>
        <li data-ng-class="{ active: hc.$state.includes('projects') }"
            id="header-projects">
          <a ui-sref="projects.table" tabindex="0">
            <i class="fa fa-flask"></i>
            <span class="hidden-sm" >Studies</span>
          </a>
        </li>
        <li data-ng-class="{ active: hc.$state.includes('search') || hc.$state.includes('query') }"
            id="header-data">
          <a ui-sref="search.summary" tabindex="0">
            <i class="fa fa-bar-chart"></i>
            <span class="hidden-sm" >Data</span>
          </a>
        </li>
        <li ng-if="hc.config['navbar']['analysis-display']" id="header-data">
          <a href="{{hc.config['navbar']['analysis-link']}}" tabindex="0" target="_blank">
            <i class="fa fa-sliders"></i>
            <span class="hidden-sm" >Analysis</span>
          </a>
        </li><li ng-if="hc.config['navbar']['documentation-display']" id="header-data">
          <a href="{{hc.config['navbar']['documentation-link']}}" tabindex="0" target="_blank">
            <i class="fa fa-pencil-square-o"></i>
            <span class="hidden-sm">Documentation</span>
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li data-ng-if="hc.addedLanguages">
          <select ng-model="hc.currentLang"
                  ng-change="hc.setLanguage()"
                  aria-label="Select language"
                  ng-options="k as v for (k, v) in hc.languages">
          </select>
        </li>
        <!--
        <li>
          <a quick-search tabindex="0">
            <i class="fa fa-search stock-icon"></i>
            <span class="hidden-md hidden-sm" >Quick Search</span>
          </a>
        </li>
        -->
        <li data-ng-if="!hc.UserService.currentUser" id="header-login">
          <a href="{{hc.config['navbar']['user-login-link']}}" tabindex="0">
            <i class="fa fa-sign-in"></i>
            <span class="hidden-md hidden-sm" >Login</span>
          </a>
        </li>
        <!--
        <li class="MyProjects" data-ng-if="hc.UserService.currentUser && hc.UserService.hasProjects() && hc.shouldShowOption('my-projects')">
          <label class="MyProjects__label navbar-text" for="my_projects">
            <input type="checkbox"
                   id="my_projects"
                   data-ng-change="hc.UserService.toggleFilter()"
                   data-ng-model="hc.UserService.currentUser.isFiltered">
            <span ><span class="hidden-sm">Only</span> My Projects</span>
          </label>
        </li>
        -->
<!--        
        <li data-ng-if="hc.UserService.currentUser" class="hidden-xs">
          <ul class="nav navbar-nav username-list">
            <li class="btn-group" data-uib-dropdown>
              <a href="" class="dropdown-toggle username" data-uib-dropdown-toggle aria-expanded="false">
                {{ hc.UserService.currentUser.username }} <span class="caret"></span>
              </a>
              <a href="" class="dropdown-toggle username-icon" data-uib-dropdown-toggle aria-expanded="false">
                <span class="fa fa-user"></span> <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li id="header-token">
                  <a data-ng-click="hc.getToken()"
                     data-ng-keydown="$event.which === 13 && hc.getToken()"
                     tabindex="0">
                    <i class="fa fa-file-zip-o stock-icon"></i>
                    <span >Download Token</span>
                  </a>
                </li>
                -->
<!--                 
                <li id="header-logout">
                  <a logout-button data-redirect="logout" tabindex="0">
                    <i class="fa fa-sign-out stock-icon"></i>
                    <span >Logout</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li id="header-token" data-ng-if="hc.UserService.currentUser" class="visible-xs">
          <a data-ng-click="hc.getToken()"
             data-ng-keydown="$event.which === 13 && hc.getToken()"
             tabindex="0"
             >
            <i class="fa fa-file-zip-o stock-icon"></i>
            <span >Download Token</span>
          </a>
        </li>
        <li id="header-logout" data-ng-if="hc.UserService.currentUser" class="visible-xs">
          <a logout-button data-redirect="logout"
              tabindex="0">
            <i class="fa fa-sign-out stock-icon"></i>
            <span >Logout</span>
          </a>
        </li>
-->        
        <li ui-sref-active="active" class="nav-cart" ng-if="hc.cookieEnabled">
          <a ui-sref="cart" tabindex="0">
            <i class="fa fa-shopping-cart"></i>
            <span class="hidden-md hidden-sm" >Cart</span>
            <span class="label label-primary">{{ cartSize }}</span>
          </a>
        </li>
        <li data-uib-dropdown>
          <a data-uib-dropdown-toggle class="dropdown-toggle" aria-expanded="false" tabindex="0">
            <i class="icon-gdc-apps-menu"></i>
            <span class="hidden-md hidden-sm" >Apps</span>
          </a>
          <div data-uib-dropdown-menu class="dropdown-menu gdc-apps-menu-container" role="menu">
            <div class="gdc-apps-menu-grid">
              <div class="menu-column">
                <a ng-if="hc.config['navbar']['apps-data-portal-display']" href="{{hc.config['navbar']['apps-data-portal-link']}}" title="{{hc.config['navbar']['apps-data-portal-tooltip-text']}}" class="active menu-item">
                  <i class="fa fa-desktop"></i>
                  <p>Data Portal</p>
                </a>
                <a ng-if="hc.config['navbar']['apps-api-display']" href="{{hc.config['navbar']['apps-api-link']}}" title="{{hc.config['navbar']['apps-api-tooltip-text']}}" target="_blank" class="menu-item">
                  <i class="fa fa-exchange"></i>
                  <p>API</p>
                </a>
                <a ng-if="hc.config['navbar']['apps-documentation-display']" href="{{hc.config['navbar']['apps-documentation-link']}}" title="{{hc.config['navbar']['apps-documentation-tooltip-text']}}" target="_blank" class="menu-item">
                  <i class="fa fa-pencil-square-o"></i>
                  <p>Documentation</p>
                </a>
                <a ng-if="hc.config['navbar']['apps-legacy-archive-display']" href="{{hc.config['navbar']['apps-legacy-archive-link']}}" title="{{hc.config['navbar']['apps-legacy-archive-tooltip-text']}}" target="_blank" class="menu-item">
                  <i class="fa fa-archive"></i>
                  <p>Legacy Archive</p>
                </a>
              </div>
              <div class="menu-column">
                <a ng-if="hc.config['navbar']['apps-website-display']" href="{{hc.config['navbar']['apps-website-link']}}" title="{{hc.config['navbar']['apps-website-tooltip-text']}}" target="_blank" class="menu-item">
                  <i class="fa fa-television"></i>
                  <p>Website</p>
                </a>
                <a ng-if="hc.config['navbar']['apps-datatransfer-tool-display']" href="{{hc.config['navbar']['apps-datatransfer-tool-link']}}" class="menu-item" title="{{hc.config['navbar']['apps-datatransfer-tool-tooltip-text']}}" target="_blank">
                  <i class="fa fa-download"></i>
                  <p>Data Transfer Tool</p>
                </a>
                <a ng-if="hc.config['navbar']['apps-faq-display']" href="{{hc.config['navbar']['apps-faq-link']}}" title="{{hc.config['navbar']['apps-faq-tooltip-text']}}" target="_blank" class="menu-item">
                  <i class="fa fa-question-circle-o"></i>
                  <p>FAQ</p>
                </a>
                <a ng-if="hc.config['navbar']['apps-resources-display']" href="{{hc.config['navbar']['apps-resources-link']}}" title="{{hc.config['navbar']['apps-resources-tooltip-text']}}" target="_blank" class="menu-item">
                  <i class="fa fa-laptop"></i>
                  <p>Resources</p>
                </a>
                <span class="menu-item" style="height: 61px">&nbsp;</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </nav>
  </div>

  <div class="xhrCounter" data-ng-if="hc.CoreService.activeRequests">
    {{ (hc.CoreService.finishedRequests / hc.CoreService.requestCount * 100).toFixed(0) }}%
  </div>
</header>
