<div class="home-container">
  <div class="showcase-container row-layout col-md-12 row">
    <div class="col-lg-6 col-md-7 quick-search-component">
      <h1 data-ng-bind="hc.homeConfig['portal-name']"></h1>
      <div data-ng-if="hc.homeConfig['project-external-link']" class="project-external-link-container">
        <!-- <span>Data host for </span>
        <a class="btn btn-primary" href="{{hc.homeConfig['project-external-link']}}">
          {{ hc.homeConfig['project-name'] }}
        </a> -->
        <span>Project website: </span><a class="project-external-link" href="{{hc.homeConfig['project-external-link']}}">{{ hc.homeConfig['project-name'] }}</a>
      </div>
      <div class="quick-search-container">
        <em>Get Started by Exploring:</em>
        <div class="search-button-container row">
          <div class="col-md-6">
            <a ui-sref="projects.table" tabindex="0" class="btn btn-primary btn-lg btn-projects">
              <i class="fa fa-flask"></i>&nbsp; <span >Studies</span>
            </a>
          </div>
          <div class="col-md-6">
            <a ui-sref="search.summary" tabindex="0" class="btn btn-primary btn-lg btn-data">
              <i class="fa fa-bar-chart"> </i>&nbsp; <span >Data</span>
            </a>
          </div>
        </div>
        <!-- quick-search-input-home></quick-search-input-home -->
      </div>
      <div class="query-list-container">
        <em>Perform Advanced Search Queries, such as:</em>
        <table class="query-list-table" role="presentation">
          <tbody>
            <tr data-ng-repeat="query in hc.exampleSearchQueries">
              <th scope="row" style="white-space: normal">
                <ul>
                  <li data-ng-bind="query['description']"></li>
                </ul>
              </th>
              <td data-ng-if="query['has-cases-link']" 
              colspan="{{ query['has-files-link'] ? 1 : 2 }}">
                <a class="btn btn-primary" href="{{query['cases-link']}}">
                  <span data-ng-if="query.case_count >= 0" data-ng-bind="query.case_count | number"></span>
                  <span data-ng-if="query.case_count === null"><i class="fa fa-spinner fa-spin"></i></span>
                  Samples
                </a>
              </td>
              <td data-ng-if="query['has-files-link']" 
              colspan="{{ query['has-cases-link'] ? 1 : 2 }}">
                <a class="btn btn-primary" href="{{query['files-link']}}">
                  <span data-ng-if="query.file_count >= 0" data-ng-bind="query.file_count | number"></span>
                  <span data-ng-if="query.file_count === null"><i class="fa fa-spinner fa-spin"></i></span>
                  Files
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-6 col-md-5 browser-vis component">
      <div class="filter-container">
        <div class="filter-bubble">
          <a ui-sref="projects.table" title="{{hc.homeConfig['projects-table-title']}}">{{hc.homeConfig['projects-table-title-header']}}</a>
          <div class="arrow"></div>
        </div>
      </div>
      <marked-bar-chart
              data-data="hc.getChartFilteredData()"
              data-tool-tip-fn="hc.getChartTooltipFunction()"
              data-height="305"
      ></marked-bar-chart>
    </div>
  </div>

  <div class="data-display-container row-layout row">
    <div class="component col-md-12 col-lg-12">
      <div class="data-stats-list-container col-md-12">
        <div class="data-stats-block" style="
            text-align: left;
            justify-content: center;
            display: flex;
            flex-direction: column;">
          <h3 style="margin:0 0 1rem 0; color: #333 !important">Data Portal Summary</h3>
        </div>
        <div class="data-stats-block" ng-repeat="stat in hc.homeConfig['summary-stat']">
          <div class="stats-block-header">{{ stat['title'] }}</div>
          <div class="stats-block-body">
            <span ng-bind-html="stat['icon']"></span>
            <span class="stat-figure" style="color: #333" data-ng-bind="{{ stat['data'] }}|number"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
