<div class="panel panel-default summary-panel">
  <div class="row">
    <div class="col-lg-12 spacing-left">
      <add-to-cart-all-button data-size="qc.files.pagination.total"></add-to-cart-all-button>
<!--
      <download-manifest-button
        classes="btn btn-primary"
        data-icon="fa-download"
        data-copy="Download Manifest"
        data-dlcopy="Downloading"
        data-ng-disabled="!qc.files.pagination.total"
        data-size="qc.files.pagination.total">
      </download-manifest-button>
-->
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <count-card title="Files" icon="fa-file-o" data="qc.files.pagination.total | number"></count-card>
  </div>
  <div class="col-sm-4">
    <count-card title="Samples" icon="fa-user-o" data="qc.participants.pagination.total | number"></count-card>
  </div>
  <div class="col-sm-4">
    <count-card title="File Volume" icon="fa-folder-open-o" data="qc.summary.fs.value | size"></count-card>
  </div>
</div>

<div class="flex-visible-lg summary-cards">
  <div class="flex-column" ng-repeat="chart in qc.summary.charts" ng-if="(($index + 1) % 2)">
    <summary-card
      data-data="qc.summary.charts[$index]['buckets']"
      data-results-status="qc.summary.charts[$index]['results-status']"
      height="177"
      data-mode="graph"
      data-config="qc.summary.charts[$index]['piechart-config']"
      data-grouping-title="{{qc.summary.charts[$index]['piechart-config']['grouping-title']}}"
      data-title="{{qc.summary.charts[$index]['piechart-config']['chart-title']}}"
      data-show-cases="true">
    </summary-card>
    <summary-card
      data-data="qc.summary.charts[$index + 1]['buckets']"
      data-results-status="qc.summary.charts[$index + 1]['results-status']"
      height="177"
      data-mode="graph"
      data-config="qc.summary.charts[$index + 1]['piechart-config']"
      data-grouping-title="{{qc.summary.charts[$index + 1]['piechart-config']['grouping-title']}}"
      data-title="{{qc.summary.charts[$index + 1]['piechart-config']['chart-title']}}"
      data-show-cases="true">
    </summary-card>
  </div>
</div>

<div class="flex-visible-sm summary-cards">
  <div class="flex-column" ng-repeat="chart in qc.summary.charts" ng-if="(($index + 1) % 2)">
    <summary-card
      data-data="qc.summary.charts[$index]['buckets']"
      data-results-status="qc.summary.charts[$index]['results-status']"
      height="177"
      data-mode="graph"
      data-config="qc.summary.charts[$index]['piechart-config']"
      data-grouping-title="{{qc.summary.charts[$index]['piechart-config']['grouping-title']}}"
      data-title="{{qc.summary.charts[$index]['piechart-config']['chart-title']}}"
      data-show-cases="true">
    </summary-card>
    <summary-card
      data-data="qc.summary.charts[$index + 1]['buckets']"
      data-results-status="qc.summary.charts[$index + 1]['results-status']"
      height="177"
      data-mode="graph"
      data-config="qc.summary.charts[$index + 1]['piechart-config']"
      data-grouping-title="{{qc.summary.charts[$index + 1]['piechart-config']['grouping-title']}}"
      data-title="{{qc.summary.charts[$index + 1]['piechart-config']['chart-title']}}"
      data-show-cases="true">
    </summary-card>
  </div>
</div>
