#header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  border-bottom: 1px solid #e7e7e7;
  min-height: 51px;
  background-color: white;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
}
.fa-question-circle {
  font-size: 25px;
  font-style: normal;
  color: #0082f3 !important;
}

.navbar-brand .logo {
  width: 200px;
  min-width: 200px;
}

#navbar .nav-link {
  color: rgba(0, 0, 0, 0.5);
  /* font-weight: 600; */
}

#navbar .active .nav-link {
  color: #0082f3 !important;
  font-weight: 600;
}

#navbar .nav-link:hover {
  color: #0275d8 !important;
}

#navbar .nav-item.active .nav-text {
  border-bottom: 0px;
}

#navbar {
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

#navbar .nav-item {
  min-width: 25px;
  font-size: 16px;
}

#navbar #title-text {
  margin-left: 0.75rem !important;
}

#navbar #logo-contianer {
  padding-right: 2.25rem !important;
}

#navbar #explorer-link {
  padding-left: 1.45rem !important;
  padding-right: 1.5rem !important;
}

#navbar #question-icon {
  margin-left: -10%;
}

@media (max-width: 859px) {
  .header-hidden-xs {
    display: none !important;
  }
}
@media (min-width: 860px) and (max-width: 1119px) {
  .header-hidden-sm {
    display: none !important;
  }
}
@media (min-width: 1120px) and (max-width: 1345px) {
  .header-hidden-md {
    display: none !important;
  }
}
